@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';
$fa-font-path: '/fonts';
@import 'vendor/font-awesome/scss/font-awesome';

body {
  margin-top: 70px;
}

img {
  border: 0px none;
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50;
}

/* PHOTOS */
img.photo_small {
  width: 4em;
  height: 5em;
}