@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';
$fa-font-path: '/fonts';
@import 'vendor/font-awesome/scss/font-awesome';

/* MAIN */

body {
  margin-top: 70px;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
hr {
  margin-top: 5px;
  margin-bottom: 10px;
}
.panel-body .btn:not(.btn-block) {
  width:120px;
  margin-bottom:10px;
}
.progress {
  background-color: #fff;
}

.btn-dark {
  color: #fff;
  background-color: #242633;
  border-color: #191b24;
}
.btn-dark.active,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open>.btn-dark.dropdown-toggle {
  color:#fff;
  background-color:#0f1015;
  border-color:#000
}
.btn-dark.active,
.btn-dark:active,
.open>.btn-dark.dropdown-toggle {
  background-image:none
}
.btn-dark.disabled,
.btn-dark.disabled.active,
.btn-dark.disabled:active,
.btn-dark.disabled:focus,
.btn-dark.disabled:hover,
.btn-dark[disabled],
.btn-dark[disabled].active,
.btn-dark[disabled]:active,
.btn-dark[disabled]:focus,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark,
fieldset[disabled] .btn-dark.active,
fieldset[disabled] .btn-dark:active,
fieldset[disabled] .btn-dark:focus,
fieldset[disabled] .btn-dark:hover {
  background-color:#242633;
  border-color:#191b24
}
.btn-dark .badge {
  color:#242633;
  background-color:#fff
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px; }
  .breadcrumb > li {
    display: inline-block; }
    .breadcrumb > li + li:before {
      content: ">";
      padding: 0 5px;
      color: #ccc; }
  .breadcrumb > .active {
    color: #777777;
}

/* LOGIN */
.form-signin
{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  padding-top: 5px;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="password"]
{
  margin-bottom: 10px;
}
.account-wall
{
  margin-top: 20px;
  padding: 40px 0px 20px 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
  color: #555;
  font-size: 24px;
  font-weight: 400;
  display: block;
}
.profile-img
{
  width: 110px;
  height: 110px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* VALIDATION CONTROLS */
.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

/* NAVBAR ACCOUNT MANAGER */
.navbar-content
{
  width:320px;
  padding: 15px;
  padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
  display: table;
  content: "";
  line-height: 0;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
}
.navbar-footer 
{
  background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
  padding: 0px;
  overflow: hidden;
}

/* SOCIOMETRIC TEST CARD */

.cuadro_intro_hover{
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 260px;
  margin: 0 5px 20px 0;
}
.cuadro_intro_hover:hover .caption{
  opacity: 1;
  transform: translateY(-190px);
  -webkit-transform:translateY(-190px);
  -moz-transform:translateY(-190px);
  -ms-transform:translateY(-190px);
  -o-transform:translateY(-190px);
}
.cuadro_intro_hover img{
  z-index: 4;
}
.cuadro_intro_hover .caption{
  position: absolute;
  top:205px;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  width: 100%;
}
.cuadro_intro_hover .blur{
  background-color: rgba(0,0,0,0.7);
  height: 300px;
  z-index: 5;
  position: absolute;
  width: 100%;
}
.cuadro_intro_hover .caption-text{
  z-index: 10;
  color: #fff;
  position: absolute;
  height: 300px;
  text-align: center;
  top:-20px;
  width: 100%;
}
.card-img
{
  width: 260px;
  height: 260px;
  margin: 0 auto 10px;
  display: block;
}

/* SURVEYS */
.survey-container {
  background-color:#fff;
  box-shadow: 0 0 5px #777;
}
.survey-header {
  text-align:center;
  padding:15px 120px;
  background-color:#f3f3f3;
  border-bottom:1px solid #e7e7e7;
  position:relative;
  text-transform:uppercase;
  font-size:15px;
}
.survey-content {
  padding: 20px 50px 20px 50px;
}
.survey-footer {
  text-align:center;
  padding:15px 120px;
  border-top:1px solid #e7e7e7;
  background-color:#f3f3f3;
}
.complete {
  color:#cacaca;
  margin: 0 0 10px 0;
  font-size:160px;
  padding:0;
}

/* RESULTS PER STUDENT */
.student-result-card
{
  padding: 0px;
  position: relative;
  overflow: hidden;
  height: 300px;
  margin: 20px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
  background-color:#fff;
  box-shadow: 0 0 5px #777;
}

/* PROGRESS BAR */
.progress {
  position: relative;
  height: 25px;
}
.progress > .progress-type {
  position: absolute;
  left: 0px;
  font-weight: 800;
  padding: 3px 150px 3px 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
  position: absolute;
  right: 0px;
  font-weight: 800;
  padding: 3px 10px 2px;
}

/* 404 NOT FOUND PAGE */
.page-err {
  position:relative;
  width:100%;
  height:100%
}
.page-err .err-container {
  padding:45px 10px 0
}
@media (min-width:768px) {
  .page-err .err-container {
    padding:100px 0 0
  }
}
.page-err .err {
  margin:auto;
  width:300px;
  height:300px;
  border-radius:50%;
  border:2px solid #248aaf;
  padding:28px
}
.page-err .err .err-inner {
  width:240px;
  height:240px;
  padding:30px 0;
  border-radius:50%;
  background-color:#248aaf;
  color:#fafafa
}
.page-err .err h1 {
  margin:0;
  color:#fafafa;
  font-size:100px;
  line-height:120px
}
.page-err .err h2 {
  margin:0;
  font-weight:300;
  font-size:28px
}
.page-err .err-mss {
  margin:50px 0 20px;
  font-size:22px;
  font-weight:700
}
.page-err .err-body {
  padding:20px 10px
}
.page-err .btn-goback {
  color:#fff;
  background-color:transparent;
  border-color:#fff
}
.open .page-err .btn-goback.btn-info.dropdown-toggle,
.page-err .btn-goback.btn-info.active,
.page-err .btn-goback.btn-info:active,
.page-err .btn-goback.btn-info:focus,
.page-err .btn-goback.btn-info:hover {
  color:#3cbfd9
}
.open .page-err .btn-goback.dropdown-toggle,
.page-err .btn-goback.active,
.page-err .btn-goback:active,
.page-err .btn-goback:focus,
.page-err .btn-goback:hover {
  color:#289bc4;
  background-color:#fff
}
.page-err .footer {
  position:absolute;
  bottom:20px;
  width:100%
}
