/* SURVEYS */
.survey-container {
  background-color:#fff;
  box-shadow: 0 0 5px #777;
}
.survey-header {
  text-align:center;
  padding:15px 120px;
  background-color:#f3f3f3;
  border-bottom:1px solid #e7e7e7;
  position:relative;
  text-transform:uppercase;
  font-size:15px;
}
.survey-content {
  padding: 20px 50px 20px 50px;
}
.survey-footer {
  text-align:center;
  padding:15px 120px;
  border-top:1px solid #e7e7e7;
  background-color:#f3f3f3;
}
.complete {
  color:#cacaca;
  margin: 0 0 10px 0;
  font-size:160px;
  padding:0;
}